body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 10px 0 24px 0;
}

.gallery {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    width: 100%;
    scroll-snap-type: x mandatory;
}

.slide {
    display: flex;
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.discount-info {
    text-align: center;
    margin-top: 20px;
}

.price-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.discount-percent {
    font-size: 16px;
    margin-top: 10px;
}
