* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.container {
    width: 390px; /* Ширина контейнера */
    text-align: center;
    position: relative;
}
header {
    margin-top: 10px; /* Расстояние от верхнего края экрана */
    margin-bottom: 23px; /* Увеличено на 15% */
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* Расстояние между квадратами по горизонтали и вертикали */
    margin-bottom: 20px;
}
.tile {
    width: 120px; /* Размер квадрата */
    height: 120px; /* Размер квадрата */
    background-color: #fff;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
.pagination {
    margin-bottom: 20px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.dot.active {
    background-color: #333;
}
.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 3%; /* Смещаем кнопки со стрелками на 3% к краям */
}
.arrow {
    background: none;
    border: 2px solid black;
    border-radius: 50%;
    width: 32px; /* Уменьшено, чтобы соответствовать границам кнопки 10 COM */
    height: 32px; /* Уменьшено, чтобы соответствовать границам кнопки 10 COM */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow-icon {
    font-size: 24px;
    color: black;
    display: inline-block;
    line-height: 1;
}
.percent {
    font-size: 38.08px; /* Увеличено на 15% от 33.12px */
}
.submit {
    margin-top: 20px;
    position: relative;
}
.submit-btn {
    padding: 12px 74px; /* Подогнано под внешние края стрелок */
    background-color: #fff;
    color: black;
    border: 2px солид black;
    border-radius: 28.8px; /* Округлены края еще на 20% от 24px */
    font-size: 22.08px; /* Увеличено на 15% от 19.2px */
    cursor: pointer;
}
footer {
    margin-top: 10px;
}
footer p {
    font-size: 14px;
    color: #333;
}
