body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    padding-top: 0; /* Убрать верхний отступ */
}

.container {
    text-align: center;
    position: relative;
    top: 20px; /* Отступ от верхнего края экрана */
}

header h1 {
    font-size: 24px;
    margin-bottom: 24px; /* Поддержание расстояния после увеличения */
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11.5px; /* Увеличенный радиус скрепления квадратов на 15% */
    margin-bottom: 16px; /* Компенсация за поднятие всего контента */
}

.logo {
    width: 110px;
    height: 110px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: black;
}

.arrow-button {
    font-size: 24px; /* размер шрифта для внутренних стрелок */
    border: 2px solid black; /* граница кнопки */
    border-radius: 50%; /* радиус границы для круглой формы */
    width: 40px; /* ширина кнопки */
    height: 40px; /* высота кнопки, равная ширине для круглой формы */
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    color: black; /* цвет стрелок */
    margin: 0 5px; /* отступы вокруг кнопки */
}

.discount-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

#discount {
    margin: 0 10px;
    font-size: 30.36px; /* Увеличен шрифт на 10% */
}

.price {
    font-size: 24px;
    margin-bottom: 16px;
}

.rounded-button {
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid black;
    background: none;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
}

.version {
    font-size: 12px;
    color: black;
    margin-top: 5px;
    display: block;
    content: "v.0005"; /* Обновлен номер версии */
}
