* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    padding-left: 10px; /* Сдвигаем весь дизайн на 10px влево */
}
.container {
    width: 390px; /* Ширина контейнера */
    text-align: center;
    position: relative;
}
header {
    margin-top: 10px; /* Расстояние от верхнего края экрана */
    margin-bottom: 23px; /* Увеличено на 15% */
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.swiper-container {
    width: 100%;
    height: auto;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(100%);
}
.swiper-slide-active {
    opacity: 1;
    transform: translateX(0);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* Расстояние между квадратами по горизонтали и вертикали */
    margin-bottom: 20px;
}
.tile {
    width: 120px; /* Размер квадрата */
    height: 120px; /* Размер квадрата */
    background-color: #fff;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
.pagination-container {
    position: relative;
    top: 45px; /* Сдвиг вниз на 45px */
}
.swiper-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Размещение под блоком с квадратами */
}
.control {
    display: flex;
    align-items​⬤
