* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.container {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.header-container {
    width: 100%;
    height: calc(10vh * 0.8 * 0.8 * 0.7); /* Уменьшаем высоту на 30% */
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    border: 1px solid black;
    padding: 0 10px;
    z-index: 3; /* Применяем слой для верхнего контейнера */
}

header {
    font-size: 1.6em; /* Уменьшаем размер шрифта на 20% */
    font-weight: bold;
}

.menu-icon {
    width: 30px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    cursor: pointer;
}

.menu-icon div {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
}

.green-container {
    width: 100%;
    height: calc(100% - calc(30px * 1.6) - 2vh); /* Высота на весь экран за вычетом высоты белого контейнера и верхнего отступа */
    margin-top: 2vh;
    border: 2px solid green;
    overflow-y: scroll; /* Добавляем вертикальный скроллинг */
    position: relative;
    z-index: 1;
}

.white-container {
    width: 100%; /* Ширина соответствует ширине экрана */
    height: calc(30px * 1.6); /* Увеличиваем высоту на 60% */
    background-color: white; /* Белый цвет */
    border: 3px solid pink; /* Розовая обводка 3px */
    border-radius: 15px 15px 0 0; /* Закругленные верхние углы, нижние углы острые */
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0; /* Размещаем внизу */
    left: 0; /* Выравниваем по левому краю */
    z-index: 2; /* Применяем слой для верхнего контейнера */
    transition: height 0.3s ease-in-out; /* Плавный переход с ускорением и замедлением */
}

.white-container.expanded {
    height: 50%; /* Высота на половину экрана */
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3px; /* Изменяем строчное расстояние между рядами */
}

.sub-container {
    width: calc(50% - 3px); /* Ширина контейнеров чтобы поместились два в ряд */
    height: calc(30px * 1.6 * 1.6 * 1.3); /* Увеличиваем высоту еще на 30% */
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 15px; /* Скругление краев */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 3px; /* Устанавливаем расстояние между блоками */
}
