.fixed-element {
    position: fixed;
    bottom: 0;
    width: 100vw; /* Устанавливаем ширину в 100% от ширины окна просмотра */
    height: 50px; /* Начальная высота */
    background-color: red;
    z-index: 1000; /* Высокий индекс слоя, чтобы элемент был поверх всех разделов */
    left: 0;
    right: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Плавная анимация */
}

.fixed-element.open {
    height: 50vh; /* Высота при открытии на половину экрана */
}
