.fixed-element {
    position: fixed;
    bottom: 0;
    width: 100vw; /* Устанавливаем ширину в 100% от ширины окна просмотра */
    height: 5vh; /* Начальная высота */
    background-color: white;
    border: 2px solid gray; /* Серая обводка */
    border-top-left-radius: 15px; /* Закругленные верхние углы */
    border-top-right-radius: 15px; /* Закругленные верхние углы */
    z-index: 1000; /* Высокий индекс слоя, чтобы элемент был поверх всех разделов */
    left: 0;
    right: 0;
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Плавная анимация */
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    justify-content: flex-start; /* Выравнивание по верхнему краю */
    flex-direction: column;
    padding-top: 8%; /* Отступ сверху */
}

.fixed-element.open {
    height: 50vh; /* Высота при открытии на половину экрана */
}

.fixed-element-header {
    display: flex;
    justify-content: space-between;
    width: 60%; /* Уменьшаем ширину, чтобы отодвинуть от краев */
    margin: 10% auto 0; /* Поднимаем на 10% вверх и центрируем */
    font-size: 1.8vh; /* Уменьшение размера шрифта на 40% */
    color: gray;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Анимация появления через прозрачность */
}

.fixed-element.open .fixed-element-header {
    opacity: 1;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px auto; /* Центрирование по горизонтали */
    border: 2px solid gray; /* Серая обводка */
    border-radius: 15px; /* Скругленные углы */
    font-size: 16px;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавная анимация */
    opacity: 0;
    transform: translateY(20px); /* Начальная позиция ниже */
    align-self: center; /* Выравнивание по центру */
    position: relative;
    top: 12px; /* Отступ сверху */
}

input.show {
    opacity: 1;
    transform: translateY(0); /* Конечная позиция */
}
